body {
    border-top: 1px dashed #0f0;
    background-color: rgb(33, 32, 44);
    margin: 0 auto;
    padding: 0;
    font-family: monospace;
    line-height: unset !important;
    color: #ffffff;
}
h1 {
  color: #f5f;
  font-size: 24px;
  font-family: monospace;
  font-weight: bold;
}


h2 { color: #f5f; }
h3 { color: #f5f; }
h4 { color: #f5f; }
h5 { color: #f5f; }
h6 { color: #f5f; }
footer {
    color: #0f0;
    font-weight: bold;
    border-top: dashed 1px rgba(255,255,255,0.5);
    margin: 20px auto 15px;
    padding-top: 10px;
}
header {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #0f0;
}
header p {
    text-align: left;
    margin: 0;
    /* color: #0f0; */
    color: rgba(255,255,255,0.5);
}
a {
    text-decoration: none;
    color: #0f0;
}
a:hover {
    
    color: #f5f;
}

.sub {
    color: #0f0;
    letter-spacing: 0.3em;
    margin-top: -9px;
    margin-left: 5px;
    position: absolute;
    font-weight: bold;
  }
  .glitch {
    position: relative;
    color: white;
    font-size: 50px;
    animation: glitch-skew 1s infinite linear alternate-reverse;
  }
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 5s infinite linear alternate-reverse;
  }
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
  }
  
  @keyframes glitch-anim {
    0% {
      clip: rect(44px, 9999px, 51px, 0);
      transform: skew(0.08deg);
    }
    5% {
      clip: rect(72px, 9999px, 96px, 0);
      transform: skew(0.52deg);
    }
    10% {
      clip: rect(54px, 9999px, 18px, 0);
      transform: skew(0.55deg);
    }
    15% {
      clip: rect(44px, 9999px, 66px, 0);
      transform: skew(0.12deg);
    }
    20% {
      clip: rect(67px, 9999px, 56px, 0);
      transform: skew(0.87deg);
    }
    25% {
      clip: rect(21px, 9999px, 21px, 0);
      transform: skew(0.29deg);
    }
    30% {
      clip: rect(22px, 9999px, 62px, 0);
      transform: skew(0.39deg);
    }
    35% {
      clip: rect(64px, 9999px, 47px, 0);
      transform: skew(0.65deg);
    }
    40% {
      clip: rect(93px, 9999px, 90px, 0);
      transform: skew(0.13deg);
    }
    45% {
      clip: rect(30px, 9999px, 20px, 0);
      transform: skew(0.09deg);
    }
    50% {
      clip: rect(59px, 9999px, 68px, 0);
      transform: skew(0.25deg);
    }
    55% {
      clip: rect(71px, 9999px, 87px, 0);
      transform: skew(0.38deg);
    }
    60% {
      clip: rect(84px, 9999px, 97px, 0);
      transform: skew(0.61deg);
    }
    65% {
      clip: rect(25px, 9999px, 10px, 0);
      transform: skew(0.66deg);
    }
    70% {
      clip: rect(96px, 9999px, 49px, 0);
      transform: skew(0.21deg);
    }
    75% {
      clip: rect(8px, 9999px, 29px, 0);
      transform: skew(0.4deg);
    }
    80% {
      clip: rect(9px, 9999px, 23px, 0);
      transform: skew(0.8deg);
    }
    85% {
      clip: rect(84px, 9999px, 90px, 0);
      transform: skew(0.97deg);
    }
    90% {
      clip: rect(60px, 9999px, 52px, 0);
      transform: skew(0.04deg);
    }
    95% {
      clip: rect(61px, 9999px, 40px, 0);
      transform: skew(0.49deg);
    }
    100% {
      clip: rect(94px, 9999px, 9px, 0);
      transform: skew(0.26deg);
    }
  }
  @keyframes glitch-anim2 {
    0% {
      clip: rect(45px, 9999px, 11px, 0);
      transform: skew(0.68deg);
    }
    5% {
      clip: rect(12px, 9999px, 9px, 0);
      transform: skew(0.17deg);
    }
    10% {
      clip: rect(35px, 9999px, 10px, 0);
      transform: skew(0.27deg);
    }
    15% {
      clip: rect(1px, 9999px, 4px, 0);
      transform: skew(0.5deg);
    }
    20% {
      clip: rect(4px, 9999px, 64px, 0);
      transform: skew(0.49deg);
    }
    25% {
      clip: rect(32px, 9999px, 29px, 0);
      transform: skew(0.13deg);
    }
    30% {
      clip: rect(20px, 9999px, 95px, 0);
      transform: skew(0.21deg);
    }
    35% {
      clip: rect(63px, 9999px, 84px, 0);
      transform: skew(0.33deg);
    }
    40% {
      clip: rect(55px, 9999px, 42px, 0);
      transform: skew(0.43deg);
    }
    45% {
      clip: rect(24px, 9999px, 100px, 0);
      transform: skew(0.88deg);
    }
    50% {
      clip: rect(6px, 9999px, 97px, 0);
      transform: skew(0.12deg);
    }
    55% {
      clip: rect(35px, 9999px, 59px, 0);
      transform: skew(0.35deg);
    }
    60% {
      clip: rect(40px, 9999px, 65px, 0);
      transform: skew(0.74deg);
    }
    65% {
      clip: rect(15px, 9999px, 50px, 0);
      transform: skew(0.68deg);
    }
    70% {
      clip: rect(81px, 9999px, 82px, 0);
      transform: skew(0.1deg);
    }
    75% {
      clip: rect(56px, 9999px, 61px, 0);
      transform: skew(0.81deg);
    }
    80% {
      clip: rect(2px, 9999px, 10px, 0);
      transform: skew(0.78deg);
    }
    85% {
      clip: rect(49px, 9999px, 10px, 0);
      transform: skew(0.64deg);
    }
    90% {
      clip: rect(71px, 9999px, 63px, 0);
      transform: skew(0.46deg);
    }
    95% {
      clip: rect(7px, 9999px, 15px, 0);
      transform: skew(0.54deg);
    }
    100% {
      clip: rect(5px, 9999px, 58px, 0);
      transform: skew(0.83deg);
    }
  }
  @keyframes glitch-skew {
    0% {
      transform: skew(-1deg);
    }
    10% {
      transform: skew(1deg);
    }
    20% {
      transform: skew(2deg);
    }
    30% {
      transform: skew(-3deg);
    }
    40% {
      transform: skew(0deg);
    }
    50% {
      transform: skew(-2deg);
    }
    60% {
      transform: skew(5deg);
    }
    70% {
      transform: skew(0deg);
    }
    80% {
      transform: skew(1deg);
    }
    90% {
      transform: skew(5deg);
    }
    100% {
      transform: skew(-3deg);
    }
  }
  
.menu {
    border-top: 1px dashed rgba(255,255,255,0.5);
    border-bottom: 1px dashed rgba(255,255,255,0.5);
    margin-bottom: 10px;
}
.menu ul {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 0px;
}
.menu ul li {
    display: inline;
    margin-left: 5px;
}
.menu ul li a {
    text-decoration: none;
    color: #0f0;
}
.menu ul li a:hover {
    padding: 2px;
    border-left: 1px dashed #0f0;
    border-right: 1px dashed #0f0;
}
main {
    text-align: left;
}
a:hover {
		color: #f5f;
}
pre {
    background-color: rgba(255,255,255,0.05);
    border: 1px dashed rgba(255,255,255,0.5);
    padding: 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow:auto;
		font-family: monospace;
		font-size: 12px;
		color: rgba(255,255,255,0.4);
}
img {
    width: 80%;
    margin-left: 10%;
    border: 1px dashed rgba(255,255,255,0.5);
    padding: 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
iframe {
    width: 750px;
    height: 400px;
    border: 1px dashed rgba(255,255,255,0.5);
    padding: 8px;
		margin-bottom: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.feed-recomendation {
	border-top: 1px dashed rgba(255,255,255,0.5);
	border-bottom: 1px dashed rgba(255,255,255,0.5);
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Table style */
audio {
  width: 90%;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

td {
    border: 1px dashed rgba(255, 255, 255, 0.5);
}

caption {
    display: none;
}

table a {
    color: white;
}
/* End Table style */

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
/* End Syntax highlighting styles */

.comment {
    color: rgba(255,255,255,0.3);
}
.reserved, main li > a {
    color: #0f0;
}
.string {
    color: #0f0;
}
.function {
    color: rgba(255,255,255,0.5);
}
.number {
    color: rgba(255,255,255,0.7);
}

blockquote {
  border-left: unset;
margin: unset;
    font-size: 12px;
}
